body {
    font-family: 'Courier New', Courier, monospace;
  
    text-align: center;
  }
  
  button {
    width: 100px;
    height: 100px;
  }

  ul {
    list-style-type: none;
  }
  
  .title {
    font-size: 36px;
    font-weight: 900;
  
    
    margin: 50px;
  }
  
  .options {
    display: flex;
    gap: 52px ;
    justify-content: center;
  }
  
  .info {
    
    flex-basis: 200px;
  
  }

  .infoResult {

    flex-basis: 100px;
  }

  .results {
    display: flex;
    justify-content: center;
    padding:100px;
  }
  
  